## ArchiveSpace Barcodes Project
### Notebook 1

This notebook contains code for loading metadata directly from the ASpace MySQL database.

- Queries target the `top_container` table, which contains the `barcode` field we want to populate. Each top container is linked to a resource record, which is linked to notes that contain the Alma MMS or Voyager Bib ID's.
- We also retrieve the linked series information, which resides on top-level entries on the `archival_object` table.

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import json

In [2]:
connection_str = 'mysql+pymysql://aspace:password@localhost/aspace'
connection = create_engine(connection_str)

In [4]:
# Total number of top container records
pd.read_sql('select count(*) from top_container', connection)

   count(*)
0     33334

#### Retrieve the top container and its resource record
1. Top containers are linked via sub containers to archival objects, which are in turn linked to resources
2. Barcode lives on the top container
3. Notes are linked to resource records
4. A resource can have multiple notes, but we need to do string filtering to find those with the catalog ID's

[ASpace code](https://github.com/archivesspace/archivesspace/blob/db5f2c3e34e7e87b6f5516dcbc7cd2ee11958ed2/backend/app/model/top_container.rb#L510)

In [191]:
tc_2_resource = '''

select distinct
    tc.id as top_container_id,
    tc.barcode,
    tc.indicator,
    tc.created_by,
    tc.last_modified_by,
    tc.create_time,
    tc.user_mtime,
    r.id as resource_id,
    r.title as resource_title,
    r.identifier as resource_identifier,
    note.id as note_id,
    note.notes,
    note.publish as published_note
from
top_container tc
inner join top_container_link_rlshp tclr
on tc.id = tclr.top_container_id
inner join sub_container sc
on tclr.sub_container_id = sc.id
inner join instance inst
on sc.instance_id = inst.id
inner join archival_object ao
on inst.archival_object_id = ao.id
inner join resource r
on r.id = ao.root_record_id
inner join note
on r.id = note.resource_id
where tc.barcode is null
and tc.repo_id = 2
'''

In [192]:
data = pd.read_sql(tc_2_resource, connection)

In [193]:
len(data)

93176

In [194]:
data.to_pickle('./aspace_data/query2.pkl.gz')

In [195]:
# Convert note to JSON for extracting label
data['note_json'] = data.notes.apply(lambda x: json.loads(x))

In [196]:
# Convert field to string for pandas querying
data.notes = data.notes.astype(str)

In [332]:
# Filter on text likely to have a Bib or MMS Id
data_bib_notes = data.loc[data.notes.str.contains(r'Bib|bib|BIB|Voyager|voyager|MMS|VOYAGER|mms|Mms')].copy()

In [333]:
len(data_bib_notes)

10841

In [292]:
data_bib_notes.to_csv('top_containers_bib_notes.csv', index=False)

#### Retreive the series for each top container
1. Find all values in the archival_object.parent_id field where the archival object is associated with a top-level container
2. For each parent_id, find its archival object, and recursively query until you get to the top-level object (no parent_id)
3. If that's at level 895 (series), return the component_id and display_string (identifies the series)

[Aspace code](https://github.com/archivesspace/archivesspace/blob/db5f2c3e34e7e87b6f5516dcbc7cd2ee11958ed2/backend/app/model/top_container.rb#L95)

In [205]:
tc_to_series = '''
select distinct 
    ao.parent_id as ao_parent,
    ao.component_id,
    ao.display_string,
    tc.id as top_container_id
from
top_container tc
inner join top_container_link_rlshp tclr
on tc.id = tclr.top_container_id
inner join sub_container sc
on tclr.sub_container_id = sc.id
inner join instance inst
on sc.instance_id = inst.id
inner join archival_object ao
on inst.archival_object_id = ao.id
where tc.barcode is null
and tc.repo_id = 2
'''

In [206]:
ao_parents = pd.read_sql(tc_to_series, connection)

**Assumption**: When the parent ID is null, the top container contains the entire collection/resource.

In [258]:
null_parents = ao_parents.loc[ao_parents.ao_parent.isnull()]

In [268]:
# Don't bother querying nulls
children = ao_parents.groupby('top_container_id').filter(lambda x: (~x.ao_parent.isnull()).all())

In [270]:
children.ao_parent = children.ao_parent.astype(int)

In [271]:
# Some containers span series or parts of series
children.groupby('top_container_id').filter(lambda x: len(x.component_id.unique()) > 1)

,ao_parent,component_id,display_string,top_container_id
25125,6187,IBT0009_s1_r651_sg1,"ABC Freight Fordwarding Co., 1962-1963",2576
25126,6187,IBT0009_s1_r651_sg2,"Accelerated Transport-Pony Exp., 1963",2576
25127,6187,IBT0009_s1_r651_sg3,"Acme Fast Freight, 1954-1963",2576
25128,6187,IBT0009_s1_r651_sg4,"Acme Markets, 1963-1964",2576
25129,6187,IBT0009_s1_r651_sg5,ACT (Independent Advisory Council to the Truck...,2576
...,...,...,...,...
156409,493780,Series 10 Subseries 5,"REC, 1975-1977",31292
156410,493780,Series 10 Subseries 5,"REC, 1977-1978",31292
156521,559862,RG0002 Series 5 Sub-Series 19,"National Role Model Innovator Award, undated",33897
156522,559862,RG0002 Series 5 Sub-Series 19,The George Washington University Magazine Cove...,33897
156523,559862,RG0002 Series 5 Sub-Series 19,"Kyonggi University Honorary Degree, 1993 Augus...",33897

In [272]:
children = children[['ao_parent', 'top_container_id']].drop_duplicates()

In [295]:
# Instead of multiple queries, we can just create a lookup table
# And then recursively navigate the single table in Python
ao_to_parent = '''
select distinct 
    ao.id,
    ao.component_id,
    ao.display_string,
    ao.level_id,
    ao.parent_id
from 
    archival_object ao
'''

In [296]:
ao_tree = pd.read_sql(ao_to_parent, connection)

In [297]:
ao_tree = ao_tree.set_index('id')

In [300]:
# Iterate over top container/archival object pairs
# For each top container, check to see if the archival object has a parent
# If so, move to the top of the tree (no more parents)
# Associate that info with the top container
series = []
for row in children.itertuples():
    next_parent = row.ao_parent
    while not pd.isna(next_parent):
        parent_info = ao_tree.loc[next_parent].to_dict()
        next_parent = ao_tree.loc[next_parent].parent_id
    item = {'top_container_id': row.top_container_id}
    item.update(parent_info)
    series.append(item)

In [302]:
series_df = pd.DataFrame.from_records(series).drop_duplicates()

In [310]:
# Add back those objects with no parents from the initial query
series_df = pd.concat([null_parents.drop(columns=['ao_parent']), series_df])

#### Merge series with resource info and notes
1. Extract labels from JSON notes field
1. Merge  series DF with the top container/resource/notes DF on top container ID
2. indicate where top containers belong to multiple series

In [334]:
# Add the "label" element from the JSON note to the DataFrame
data_bib_notes['note_label'] = data_bib_notes.note_json.apply(lambda x: x.get('label'))

In [336]:
# How many subnotes are there in the notes?
data_bib_notes.groupby(data_bib_notes.note_json.apply(lambda x: len(x.get('subnotes', []))))\
                .top_container_id.count()

note_json
0      107
1    10734
Name: top_container_id, dtype: int64

In [323]:
# Extract the subnote to its own column
def extract_subnotes(note):
    subnotes = note.get('subnotes', [])
    # From above, we know that at most there will be 1 subnote
    if len(subnotes) > 0:
        return subnotes[0]['content']

In [337]:
data_bib_notes['note_content'] = data_bib_notes.note_json.apply(extract_subnotes)

In [339]:
# Join tables on top container ID
merged = data_bib_notes.merge(series_df, on='top_container_id')

In [340]:
# Confirm no data lost
data_bib_notes.loc[~data_bib_notes.top_container_id.isin(merged.top_container_id)]

Empty DataFrame
Columns: [top_container_id, barcode, indicator, created_by, last_modified_by, create_time, user_mtime, resource_id, resource_title, resource_identifier, note_id, notes, published_note, note_json, note_label, note_content]
Index: []

In [345]:
# Indicate rows where top container ID repeats
# These are probably multiple series in the same container
merged['num_series'] = merged.groupby('top_container_id').top_container_id.transform('count')

In [348]:
merged.drop(columns='note_json').to_csv('./aspace_data/tc-series.csv', index=False)
merged.to_pickle('./aspace_data/merged-dataset.pkl.gz')